body {
    /* background-color: #e3f2fd; */
}
.container {
    background-color: gainsboro;
    /* color: green; */
}
h2 {
    text-align: center;
    padding: 20px;
    border-bottom: 5px solid;
}
h3 {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid;
}

table, tr, th, td {
    border: 1px solid white;
    background-color: darkslateblue;
    color: white;
}
td > a {
    text-decoration: underline;
    color: yellow;

}

td.file-exist {
    background-color: cadetblue;
}