{% load bootstrap5 %}
{% load static %}
<head>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
  <link rel="stylesheet" href="{% static 'arsip/style.css' %}">  
</head>
<div class="container">
    {% if query %}
    <h2>
    {% with results.count as total_results %}
    Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
    </h2>
{% for c in results %}
<a href="{{c.get_url}}"><h3>{{c.book_name}}</h3></a>
<h3>{{c.author_name}}</h3>

{% empty %}
<h3>No results found.</h3>
{% endfor %}
{% endif %}
 <form action="{% url 'irigasi' %}" class="form-inline" method="get">
 <button type="submit" class="btn btn-primary btn-lg mb-2">Back</button>
 </form>
</div>
</div>
</div>